#blue{
    
    background-color: blue;
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
}
#red{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: red;
    width: 90px;
    height: 90px;
}
#yellow{
    margin-top: 10px;
    background-color: yellow;
    width: 90px;
    height: 90px;
}
#green{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: greenyellow;
    width: 90px;
    height: 90px;
}
#pink{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: pink;
    width: 90px;
    height: 90px;
}
#purple{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: purple;
    width: 90px;
    height: 90px;
}
#grey{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: grey;
    width: 90px;
    height: 90px;
}
#black{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: grey;
    width: 90px;
    height: 90px;
}
